

.main
{
width: 100%;
background:  url(image1.jpg) ;
background-position: center;
background-size: cover;
height: 100%;
}


.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color:rgb(97, 93, 88);
    font-size: 35px;
    font-family:Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}
.header {
    background-color: darkorchid;
    margin-top: 0;
    border-width: 0;
    padding: 50px;
    padding-left: 0px;
    padding-top: 25px;
    
}
#header{
    margin-left: 50px;
    text-align: left;
}
.login
{
    top:0px;
 text-align: right;
 
}
.btn{
    background-color: red;
    color: antiquewhite;
}
.search
{
 border-radius: 20px;
 padding: 10px;
 margin: 238px;
 width: 60%;
 border-radius: 1px solid #999;
 padding: 20px;
 text-align: center;
 /*width: 357px;*/
/*margin-right: auto;*/
/*margin-left: auto;*/
/*padding-left: 30%;*/
/*padding-bottom: 40%;*/
top: 120px;
bottom: 50%;
font-size: larger;
font-style: italic;
}
#checkbox
{
    margin-bottom: 20px;
}

.form{
    right:0px;
}
.footer
{
    background-color: darkred;
    /*width: 100%;*/
    /*margin: 20%;*/
    margin-top: 0px;
    height: 166px;
}
#author
{
    margin: 0px;
}
.navbar
{
 display: flex;
 align-items: center;
 justify-content:right ;
}
.nav-links
{
    padding: 1px 88px;
}
.nav-links li
{
    display: inline-block;
    margin: 0 15px;
}
.nav-links li a
{
    text-decoration: none;
    color: rgb(146, 29, 94);
    padding: 0px 24px;
    position: relative;
}
.nav-links li a::placeholder
{
    content:none;
    background: rgb(2, 58, 10);
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition:0.5s;
}
.nav-links li a:hover::after{
    width: 100%;
}